.profile-title {
    font-size: 3em;
    width: 20vw;
}

.profile-form {
    margin-top: 1em;
}

.form-label {
    text-align: start;
}

.profile-btn {
    display: block;
    width: 100%;
    margin-top: 2em;
}

.profile-wrapper {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
    margin-bottom: 20px;
    text-align: center;
    color: #343a40;
}

.input-btn-container {
    display: flex;
    align-items: center;
}

.edit-btn {
    margin-left: 10px;
    margin-bottom: 19px; /* not the best solution */
}
