.profile-title {
    font-size: 3em;
}

.profile-form {
    margin-top: 2em;
}

.form-label {
    text-align: start;
}

.profile-btn {
    display: block;
    width: 30em;
    margin-top: 3em;
}

.profile-wrapper {
    padding-top: 4em;
}